<footer>
    <div class="footer-inner">
            <div align="center">
                <div>
                    <p>Copyright © <a href="http://juliaquantum.github.io">JuliaQuantum</a> 2015</p>
                </div>
                <div>
                    <ul class="soc">
                      <li><a class="soc-github" target="_blank" href="https://github.com/JuliaQuantum"></a></li>
                      <li><a class="soc-google" target="_blank" href="google.com/+JuliaquantumGithubIoPage"></a></li>
                      <li><a class="soc-email2" target="_blank" href="mailto:{{ site.manageremail }}"></a></li>
                      <!-- <li><a class="soc-rss" target="_blank" href="#"></a></li> -->
                      <li><a class="soc-twitter" target="_blank" href="https://twitter.com/quantumjulia"></a></li>
                      <!-- <li><a class="soc-facebook soc-icon-last" target="_blank" href="#"></a></li> -->
                    </ul>
                </div>
              </div>
      </div>
</footer>
